workflows/melon-chart-discord-alert.json
{
  "name": "Melon Chart → Discord (K-pop Chart Alerts)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 6 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "actorId": "oxygenated_quagmire/melon-chart-scraper",
        "runInput": "={{ JSON.stringify({ chartType: 'realtime', maxResults: 10, includeLyrics: false }) }}",
        "options": {}
      },
      "id": "apify-melon",
      "name": "Melon Chart Scraper",
      "type": "n8n-nodes-base.apify",
      "typeVersion": 1,
      "position": [460, 300],
      "credentials": {
        "apifyApi": {
          "id": "YOUR_APIFY_CREDENTIALS_ID",
          "name": "Apify API"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "channelId": "YOUR_DISCORD_CHANNEL_ID",
        "messageType": "message",
        "content": "=🎵 **Melon Chart Update** 🇰🇷\n\n{{ $json.items ? $json.items.map((item, i) => `${i+1}. **${item.title}** - ${item.artist} ${item.rankChange > 0 ? '⬆️' : item.rankChange < 0 ? '⬇️' : '➡️'}`).join('\\n') : 'No data' }}\n\n_Updated: {{ new Date().toISOString() }}_"
      },
      "id": "discord",
      "name": "Discord",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [680, 300],
      "credentials": {
        "discordBotApi": {
          "id": "YOUR_DISCORD_CREDENTIALS_ID",
          "name": "Discord Bot"
        }
      }
    }
  ],
  "connections": {
    "Every 6 Hours": {
      "main": [
        [
          {
            "node": "Melon Chart Scraper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Melon Chart Scraper": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "K-pop",
      "createdAt": "2026-03-20T06:00:00.000Z",
      "updatedAt": "2026-03-20T06:00:00.000Z"
    },
    {
      "name": "Korean Data",
      "createdAt": "2026-03-20T06:00:00.000Z",
      "updatedAt": "2026-03-20T06:00:00.000Z"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-03-20T06:00:00.000Z",
  "versionId": "1"
}
